<table>
  <tr>
    <th>Business Area</th>
    <th>Segment</th>
    <th>Last Updated</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>C3-Main-chat</td>
    <td>ORA Segment</td>
    <td>John, 04/02/2024</td>
    <td>oiwjfoiwc soicjoijfajcoiw jjwoidjw sncoisjdoiw</td>
  </tr>
  <tr>
    <td>C3-Main-voice</td>
    <td>LRA Segment</td>
    <td>John, 03/23/2024</td>
    <td>oiufwf jeoifwj oii</td>
  </tr>
  <tr>
    <td>C3-Main-chat-modified</td>
    <td>BAS Segment</td>
    <td>John, 04/01/2024</td>
    <td>wwewwfds ewirgfoefe npeoiepofke</td>
  </tr>
  <tr>
    <td>C3-Main-voice-modified</td>
    <td>CSS Segment</td>
    <td>John, 03/02/2024</td>
    <td>koijioi asqwsa mzaasxs</td>
  </tr>
  <tr>
    <td>C3-Main-chat-removed</td>
    <td>CCC Segment</td>
    <td>John, 04/22/2024</td>
    <td>poikloi jxdszxm kjnmk</td>
  </tr>
  <tr>
    <td>C3-Main-voice-removed</td>
    <td>ORA Segment</td>
    <td>John, 04/02/2024</td>
    <td>nhjnhcfdc iujiuedf wswsw</td>
  </tr>
  <tr>
    <td>C3-Main</td>
    <td>ORA Segment</td>
    <td>John, 05/02/2024</td>
    <td>oiwjfoiwc soicjoijfajcoiw jjwoidjw sncoisjdoiw</td>
  </tr>
</table>
