<div class="dropdown">
    <label for="language">Business Segments</label>
    <select name="language" id="language">
        <option value="javascript" selected>Customer</option>
        <option value="python">Finance & Banking</option>
        <option value="c++">Healthcare</option>
        <option value="java">E-commerce</option>
    </select>
</div>