<div class="dropdown">
    <label for="language">Business Segment</label>
    <select name="language" id="language">
        <option value="javascript" selected>C3CT</option>
        <option value="python">CCOS</option>
        <option value="c++">C3 voice</option>
        <option value="java">C3 chat</option>
    </select>
</div>