<table>
  <tr>
    <th>Holiday</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>New Years Day</td>
    <td>01/01/2024</td>
  </tr>
  <tr>
    <td>Memorial Day</td>
    <td>05/27/2024</td>
  </tr>
  <tr>
    <td>Independence Day</td>
    <td>07/04/2024</td>
  </tr>
  <tr>
    <td>Labour Day</td>
    <td>09/02/2024</td>
  </tr>
  <tr>
    <td>Thanks Giving</td>
    <td>11/28/2024</td>
  </tr>
  <tr>
    <td>Black Friday</td>
    <td>11/29/2024</td>
  </tr>
  <tr>
    <td>Christmas Day</td>
    <td>12/25/2024</td>
  </tr>
</table>
