<table>
  <tr>
    <th>LLM Model Name</th>
    <th>Published Date</th>
  </tr>
  <tr>
    <td>Claude 3.5 Sonnet</td>
    <td>06/20/2025</td>
  </tr>
  <tr>
    <td>Gemini 1.5 Pro</td>
    <td>02/12/2024</td>
  </tr>
  <tr>
    <td>LLaMA 3</td>
    <td>04/18/2024</td>
  </tr>
  <tr>
    <td>Mixtral 8x7B</td>
    <td>12/11/2023</td>
  </tr>
  <tr>
    <td>Gemma</td>
    <td>2/28/2024</td>
  </tr>
  <tr>
    <td>PaLM 2</td>
    <td>5/10/2023</td>
  </tr>
  <tr>
    <td>Grok-1</td>
    <td>11/25/2023</td>
  </tr>
</table>
