<div class="search-field-container">
    <div>
        User Search
    </div>
  <input type="text" class="search-field-input" placeholder="User name/Alias">
  <span class="search-field-icon"><i class="fa fa-search"></i></span>
</div>