<div class="search-field-container">
    <div>
        Search
    </div>
  <input type="text" class="search-field-input" placeholder="LLM model search">
  <span class="search-field-icon"><i class="fa fa-search"></i></span>
</div>