.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav>li {
    position: relative;
    display: block;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }

  .nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
  }

  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs>li.active>a {
    color: #ad2626 !important;
    cursor: default;
    background-color: #fff;
    /* border: 0px !important; */
    border-bottom-color: #bb2525 !important;
  }

  a {
    color: #252323 !important;
    text-decoration: none;
  }