.search-field-container {
    position: relative;
    display: grid;
    justify-content: center;
    margin-top: 10%;
  }
  
  /* Style for the search input */
  .search-field-input {
    padding: 10px 40px 10px 10px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    font-size: 16px; /* Adjust font size */
    width: 200px; /* Set width as needed */
  }
  
  /* Style for the search icon */
  .search-field-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888; /* Adjust icon color */
  }
  
  /* Adjust the icon size */
  .search-field-icon i {
    font-size: 20px;
  }
  